body
{
    margin: 0;
    padding: 0;
    background-color: bisque; font-family: Arial, Helvetica, sans-serif;
}
.login{
    width: 382px;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 80px;
    background: #23463f;
    border-radius: 15px ;
}
h1{
   text-align: center;
   color: blueviolet;
   padding: 20px;
   }
label{
    color: blue;
    font-size: 17px;
}
#Uname{
    width: 300px;
    height: 30;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
    color: #23463f;
}
#Pass{
    width: 300px;
    height: 30px;
    background: none;
    border-radius: 3px;
    padding-left: 8px;
    color: black;
}
span{
    color:aquamarine;
    font-size: 17px;
}
a{
    float: right;
    background-color: aqua;
}